<%- include('layout.ejs')  %>
<form action="/producto/add_categoria" method="post">
    <section class="Form-Register2">
      <h4>Editar</h4>
      <br>
        <label for="descCategoria">Categoria</label>
        <input class="controls" type="text" name="descCategoria" id="descCategoria" value="<%= categorias[i].descCategoria %>" required>
      <br>
        <label for="idCategoria">id</label>
        <input class="controls" type="id" name="idCategoria" id="idCategoria" value="<%= categorias[i].idCategoria %>" required>
      <br>
      
      <input class="botons" type="submit" >
    </section>  
    </form>